* {
  font-family: "Poppins", sans-serif;
}

/* header */
.header {
  background-image: url(./images/Hero-image.png);
  background-size: cover;
}

/* navbar */
.title {
  color: white;
  font-weight: 700;
  font-size: 40px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0px 20px;
}
.nav-right {
  display: flex;
  gap: 22px;
}
.nav-right a {
  text-decoration: none;
}
.nav-right h4:hover {
  color: #09b778;
}

.nav-link {
  color: white;
  font-weight: 600;
  font-size: 32px;
}
